
.sup{
    text-align:center;
    margin-top:100px;
 box-shadow: 2px 2px 12px 12px gray;
 width:50%;
 margin-left:450px;
 text-decoration: underline;
 
}
.geo{
    margin-top:-100px;
    margin:0;
    
}
.sup h1{
    font-size:50px;
}
.sup {
    font-size:20px;
}
.sup input{
    font-size:25px;
    height:60px;
    width:600px;
    border:3px solid black;
    border-radius:10px;
}
.para{
    font-size: 30px;
    margin: 0;

}
.new{
margin:15px;
background-color: rgb(212, 141, 10);
border-radius: 8px;
cursor: pointer;
height:40px;
}
.login{
    width:200px;
    color:black;
    height:43px;
    border-radius:10px;
    cursor:pointer;
    
}
.login:hover{
    border:3px solid black;
}
#newUser{
    margin: 0;
}
.ret{
color:black;
    text-decoration: none;
}
.back{
    width:100%;
    height:130px;
    background-color: rgb(34, 212, 212);
}
.back img{
    margin-top:30px;
    margin-left:150px;
}