.carto{
    margin-top:50px;
    margin-left:-60px;
    
}
.carto button{
    background-color: inherit;
    cursor: pointer;
    border:none;
    border-radius: 8px;
}
.carto button:hover{
    border:3px solid black;
}
.hit{
    margin-left:12px;
    font-size: 20px;;
}
a{
    color:black;
}
a:hover{
    color:black;
}