.card{
    
color:#fff;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index:-1



}
.card img{
    height:300px;
    width:400px;
    margin:10px;
}
